.btnBlock button {
  background-color: #57c2b1;
  color: #fff;
  margin-top: 1rem;
}

.formWrap {
  transition: all 1s linear;
}

.formContainer {
  min-height: 50vh;
}

.show {
  display: block;
  max-height: 100%;
  margin: 2rem 0;
  opacity: 1;
  /* z-index: 1;
  position: relative; */
}

.hidden,
.hidden > * {
  opacity: 0;
  z-index: -1;
  position: absolute;
  display: none;
}

.block {
  display: block;
}

.none {
  display: none;
}

.success {
  color: #f95474;
  margin-top: .5rem;
}
