.heroWrap {
  min-height: auto;
  z-index: 0;
  height: calc(100vh - 110px - 73px);
  background-position: center center;
  position: relative;
  background-size: cover !important;
  background-repeat: no-repeat;
}

.txtFlex {
  text-align: center;
  display: flex;
  align-items: center;
  height: calc(100vh - 110px - 73px);
  justify-content: flex-end;
  flex-direction: column;
}

.txtWrap {
  margin: 8rem 0 4rem 0;
  color: #fff;
}

.txtWrap h1 {
  font-size: 70px;
}

.whoweare {
  background-image: url("../public/assets/who_we_are_bg.jpeg");
}

@media screen and (max-width: 767px) {
  .txtWrap h1 {
    font-size: 40px;
  }
}

@media screen and (max-width: 400px) {
  .heroWrap,
  .txtFlex {
      height: calc(100vh - 75px - 44px);
  }
}
