.testimoniesWrap {
    padding-bottom: 5rem;
    width: 100%;
}

.txtWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-bottom: 1.5rem;
    width: 58.3%;
    margin: auto;
}

.txtWrap h2 {
    font-size: 32px;
    color: #000;
}

@media screen and (max-width: 767px) {
    .txtWrap {
        width: 100%;
    }
    .testimonies {
        width: 100%;
        overflow: scroll;
    }
}