* {
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  color: #999;
  background-color: #f8f8f8;
  height: 200vh;
  font-size: 16px;
  line-height: 1.8;
  font-family: "thesansb6_semibold";
}

h1 {
  font-size: calc(1.375rem + 1.5vw);
}

h3 {
  font-size: calc(1.3rem + 0.6vw);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0.5rem;
}

.ftca-section {
  padding: 5rem 0;
  position: relative;
  width: 100%;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

.flex-justify-center {
  justify-content: center;
}

.center {
  text-align: center;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.4;
  background: #111;
  z-index: -1;
}

.wcc-section {
  background: #57c2b1;
}

.hero-2 {
  background: #57c2b1;
  opacity: 0.8;
}

.container {
  margin-left: auto;
  margin-right: auto;
}

.hero-one-txt {
  max-width: 50%;
}

.hero-one-txt h1 {
  color: #f95474;
  margin-bottom: 0.5rem;
  line-height: 1.5;
}

.hero-one-txt h3 {
  color: #57c2b1;
}

.hero-one-txt p {
}

.hero-one-txt {
  margin: 3rem 0;
  padding: 3rem 0;
}
.hero-one-img {
  margin-right: 0.75rem;
}

.hero-one-img {
  background-image: url("../public/assets/about_1.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  height: 780px;
  width: 50%;
}

.social-icon {
  height: 40px;
  width: 40px;
  display: block;
  color: #fff;
  border-radius: 50%;
  position: relative;
  background: rgba(255, 255, 255, 0.2);
}

.social-icon span {
  position: absolute;
  font-size: 24px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff !important;
}

.wca-head {
  padding: 0 0 0 30px;
  width: 60%;
}

.wca-img-block {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 280px;
  width: 40%;
  background-image: url("../public/assets/hero_small.png");
}

.dca-head {
  padding: 30px;
  background-color: #f95474;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.dca-img-block {
  background-color: #353b40;
  padding: 20px;
  text-align: center;
  width: 50%;
}

.wcc {
  background-color: #56c1b0;
  color: #fff;
}

.whoweare {
  background-image: url("../public/assets/who_we_are_bg.jpeg");
}

.journey {
  background-image: url("../public/assets/journey_hero.jpeg");
}

.journey_1 {
  background-image: url("../public/assets/journey_1.jpeg");
}

.journey_2 {
  background-image: url("../public/assets/journey_2.jpeg");
}

.journey_3 {
  background-image: url("../public/assets/journey_3.jpeg");
}

.blogs {
  display: flex;
  width: 75%;
}

.blog {
  width: 50%;
}

.blog-side {
  margin-bottom: 30px;
  padding: 10px;
  font-size: 15px;
  width: 25%;
}

@media (min-width: 360px) {
  .container {
    padding: 0 0.75rem;
  }
  .m360 {
    display: block;
  }
  .dca-head {
    padding: 15px 20px;
    display: block;
    width: inherit;
  }
  .dca-img-block {
    padding: 15px;
    width: inherit;
  }
}

@media (min-width: 767px) {
  .container {
    max-width: 720px;
    padding: 0 0.75rem;
  }
  .hero-one-img {
    display: none;
  }
  .hero-one-txt {
    max-width: initial;
    margin: 0 0.75rem;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1120px;
  }
}

@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}
